<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="{% url 'indexPage' %}" class="nav-item nav-link">Home</a>
                    <a href="{% url 'shopPage' %}" class="nav-item nav-link">Products</a>
                    <a href="{% url 'aboutPage' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'basketShop' %}" class="nav-item nav-link">My Account</a>
                    <a href="{% url 'contactPage' %}" class="nav-item nav-link">Contact Us</a>
                </div>

                {% if request.user.is_authenticated %}
                    <div class="navbar align-self-center d-flex">
                        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                        </div>
                        <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                        </a>
                        <a class="nav-icon position-relative text-decoration-none" href="{% url 'basketShop' %}">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span
                            class="position-absolute top-0  translate-middle badge rounded-pill bg-light text-dark" style="right: -10px;">{{ basketlength }}</span>
                        </a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                                </a>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item">Profil</a>
                                        <a href="#" class="dropdown-item">Alışverişler</a>
                                        <a href="{% url 'logoutUser' %}" class="dropdown-item">Çıkış</a>

                                    </div>
                                
                            </div>
                        </div>
                    </div>
                 {% else %}
                    <div>
                        <a href="{% url 'loginUser' %}" class="btn btn-primary text-light fw-bold" style="background-color: black;">Giriş</a>
                    </div>
                 {% endif %}

                
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->    

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="w-100 pt-1 mb-5 text-right">
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="get" class="modal-content modal-body border-0 p-0">
         <div class="input-group mb-2">
            <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
            <button type="submit" class="input-group-text bg-success text-light">
               <i class="fa fa-fw fa-search text-white"></i>
            </button>
         </div>
      </form>
   </div>
</div>


